:root {

  --desktop-width: 1440px;
  --mobile-width: 375px;
  --border-radius: 0.5rem;
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13rem;
  background-image: url("./images/pattern-bg.png");
  position: relative;
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.search-container:hover, .search-input:hover {
  cursor: pointer;
}

.search-input {
  width: 22rem;
  outline:none;
  border: none;
  padding-left: 0.75rem;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.search-input, .icon-container {
  height:2.5rem;
}

.icon-container {
  display: grid;
  place-items: center;
  width: 2.25rem;
  background-color: black;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.details-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 80vw;
  border-radius: var(--border-radius);
  background-color: white;
  height: 7rem;
  top: -3.5rem;
  box-shadow: 0 2px 20px -10px lightgrey;
}

.detail-container {
  width: 25%;
  padding: 1rem;
  position: relative;
}

.detail-container:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  width: 1px;
  height: 50%;
  background-color: var(--dark-gray);
}

.detail-label {
  color: var(--dark-gray);
  text-transform: uppercase;
  font-size: .5rem;
  font-weight: 500;
  padding-bottom: .35rem;
}

.detail {
  font-weight: 700;
}

.map-container {
  position:relative;
  display: flex;
  justify-content: center;
}